In [66]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as ny

In [67]:
db_connection_str = 'mysql://root:Sri.1185@localhost/book_recommendation_system'
conn = create_engine(db_connection_str)

In [68]:
books = pd.read_sql_query("SELECT * FROM books", conn)
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [69]:
image_url = books['Image-URL-M'][1]
print(image_url)

http://images.amazon.com/images/P/0002005018.01.MZZZZZZZ.jpg

In [70]:
users = pd.read_sql_query("select * from users", conn)
users

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [71]:
ratings = pd.read_sql_query("select * from ratings", conn)
ratings

         User-ID        ISBN  Book-Rating
0         276725  034545104X            0
1         276726   155061224            5
2         276727   446520802            0
3         276729  052165615X            3
4         276729   521795028            6
...          ...         ...          ...
1048570   250764   451410777            0
1048571   250764   452264464            8
1048572   250764  048623715X            0
1048573   250764   486256588            0
1048574   250764   515069434            0

[1048575 rows x 3 columns]

In [72]:
books_shape_query = "SELECT COUNT(*) FROM books"
books_shape_df = pd.read_sql(books_shape_query, conn)
books_shape = books_shape_df.iloc[0, 0]

ratings_shape_query = "SELECT COUNT(*) FROM ratings"
ratings_shape_df = pd.read_sql(ratings_shape_query, conn)
ratings_shape = ratings_shape_df.iloc[0, 0]

users_shape_query = "SELECT COUNT(*) FROM users"
users_shape_df = pd.read_sql(users_shape_query, conn)
users_shape = users_shape_df.iloc[0, 0]

print("Shape of books table:", books_shape)
print("Shape of ratings table:", ratings_shape)
print("Shape of users table:", users_shape)

Shape of books table: 271360
Shape of ratings table: 1048575
Shape of users table: 278858

In [73]:
null_counts = books.isnull().sum()
print(null_counts)

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            2
dtype: int64

In [74]:
null_counts = users.isnull().sum()
print(null_counts)

User-ID          0
Location         0
Age         110762
dtype: int64

In [75]:
null_counts = ratings.isnull().sum()
print(null_counts)

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [76]:
dupicate_counts = books.duplicated().sum()
print(null_counts)

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [77]:
duplicate_counts = users.duplicated().sum()
print(null_counts)

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [78]:
duplicate_counts = ratings.duplicated().sum()
print(null_counts)

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

## Popularity based recommendationÂ system

In [79]:
ratings_with_name = ratings.merge(books, on='ISBN')

In [80]:
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating': 'num_ratings'}, inplace=True)
print(num_rating_df)

                                               Book-Title  num_ratings
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Beyond IBM: Leadership Marketing and Finance ...            1
4        Clifford Visita El Hospital (Clifford El Gran...            1
...                                                   ...          ...
230215                                 Ãƒ?Ã‚?l- Connection.            1
230216                                      Ãƒ?Ã‚?lpiraten.            2
230217                     Ãƒ?Ã‚?rger mit Produkt X. Roman.            4
230218                              Ãƒ?Ã‚?stlich der Berge.            2
230219                                  Ãƒ?Ã‚?thique en toc            2

[230220 rows x 2 columns]

In [81]:
avg_rating_df = ratings_with_name.groupby('Book-Title')['Book-Rating'].mean().reset_index()
avg_rating_df.rename(columns={'Book-Rating': 'avg_rating'}, inplace=True)
print(avg_rating_df)

                                               Book-Title  avg_rating
0        A Light in the Storm: The Civil War Diary of ...        2.25
1                                   Always Have Popsicles        0.00
2                    Apple Magic (The Collector's series)        0.00
3        Beyond IBM: Leadership Marketing and Finance ...        0.00
4        Clifford Visita El Hospital (Clifford El Gran...        0.00
...                                                   ...         ...
230215                                 Ãƒ?Ã‚?l- Connection.        0.00
230216                                      Ãƒ?Ã‚?lpiraten.        0.00
230217                     Ãƒ?Ã‚?rger mit Produkt X. Roman.        5.25
230218                              Ãƒ?Ã‚?stlich der Berge.        4.00
230219                                  Ãƒ?Ã‚?thique en toc        4.00

[230220 rows x 2 columns]

In [82]:
popular_df = num_rating_df.merge(avg_rating_df, on='Book-Title')
print(popular_df)

                                               Book-Title  num_ratings  \
0        A Light in the Storm: The Civil War Diary of ...            4
1                                   Always Have Popsicles            1
2                    Apple Magic (The Collector's series)            1
3        Beyond IBM: Leadership Marketing and Finance ...            1
4        Clifford Visita El Hospital (Clifford El Gran...            1
...                                                   ...          ...
230215                                 Ãƒ?Ã‚?l- Connection.            1
230216                                      Ãƒ?Ã‚?lpiraten.            2
230217                     Ãƒ?Ã‚?rger mit Produkt X. Roman.            4
230218                              Ãƒ?Ã‚?stlich der Berge.            2
230219                                  Ãƒ?Ã‚?thique en toc            2

        avg_rating
0             2.25
1             0.00
2             0.00
3             0.00
4             0.00
...            ...
230215        0.00
230216        0.00
230217        5.25
230218        4.00
230219        4.00

[230220 rows x 3 columns]

In [83]:
popular_df = popular_df[popular_df['num_ratings']>=250].sort_values('avg_rating',ascending=False).head(50)

In [84]:
print(popular_df.columns)

Index(['Book-Title', 'num_ratings', 'avg_rating'], dtype='object')

In [85]:
print(len(popular_df))

50

In [86]:
merged_df = popular_df.merge(books, on='Book-Title', suffixes=('_pop', '_books'))

In [87]:
unique_df = merged_df.drop_duplicates('Book-Title')
popular_df = unique_df[['Book-Title', 'Book-Author', 'Image-URL-M', 'num_ratings', 'avg_rating']]

In [88]:
print(popular_df.columns)

Index(['Book-Title', 'Book-Author', 'Image-URL-M', 'num_ratings',
       'avg_rating'],
      dtype='object')

In [89]:
popular_df['Image-URL-M'].iloc[0]

'http://images.amazon.com/images/P/0439139597.01.MZZZZZZZ.jpg'

## Collaborative filtering based recommendation system

In [90]:
x = ratings_with_name.groupby('User-ID').count()['Book-Rating'] > 200
padhe_likhe_users = x[x].index

In [91]:
filtered_rating = ratings_with_name[ratings_with_name['User-ID'].isin(padhe_likhe_users)]

In [92]:
y = filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
famous_books = y[y].index

In [93]:
final_ratings = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [94]:
pt = final_ratings.pivot_table(index='Book-Title',columns='User-ID',values='Book-Rating')

In [95]:
pt.fillna(0,inplace=True)

In [96]:
pt

User-ID,254,2276,2766,2977,3363,4017,4385,6251,6323,6543,...,249111,249628,249862,249894,250184,250405,250764,277427,277639,278418
Book-Title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
A Bend in the Road,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [97]:
from sklearn.metrics.pairwise import cosine_similarity

In [98]:
similarity_scores = cosine_similarity(pt)

In [99]:
similarity_scores.shape

(603, 603)

In [100]:
def recommend(book_name):
    # index fetch
    index = ny.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])),key=lambda x:x[1],reverse=True)[1:5]
    
    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))
        
        data.append(item)
    
    return data

In [101]:
recommend('The Handmaid\'s Tale')

[['Bastard Out of Carolina',
  'Dorothy Allison',
  'http://images.amazon.com/images/P/0452269571.01.MZZZZZZZ.jpg'],
 ["The Kitchen God's Wife",
  'Amy Tan',
  'http://images.amazon.com/images/P/0399135782.01.MZZZZZZZ.jpg'],
 ['A Civil Action',
  'JONATHAN HARR',
  'http://images.amazon.com/images/P/0679772677.01.MZZZZZZZ.jpg'],
 ['1984',
  'George Orwell',
  'http://images.amazon.com/images/P/0451524934.01.MZZZZZZZ.jpg']]

In [102]:
pt.index[545]

'The Winner'

In [103]:
import pickle
pickle.dump(popular_df,open('popular.pkl','wb'))

In [104]:
books.drop_duplicates('Book-Title')

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271354,449906736,Flashpoints: Promise and Peril in a New World,Robin Wright,1993,Ballantine Books,http://images.amazon.com/images/P/0449906736.0...,http://images.amazon.com/images/P/0449906736.0...,http://images.amazon.com/images/P/0449906736.0...
271356,525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [105]:
pickle.dump(pt,open('pt.pkl','wb'))
pickle.dump(books,open('books.pkl','wb'))
pickle.dump(similarity_scores,open('similarity_scores.pkl','wb'))

In [107]:
print(popular_df.columns)

Index(['Book-Title', 'Book-Author', 'Image-URL-M', 'num_ratings',
       'avg_rating'],
      dtype='object')

In [109]:
popular_df.columns = popular_df.columns.str.strip()

In [110]:
print(popular_df.columns)

Index(['Book-Title', 'Book-Author', 'Image-URL-M', 'num_ratings',
       'avg_rating'],
      dtype='object')

In [111]:
author_values = list(popular_df['Book-Author'].values)

In [112]:
print(author_values)

['J. K. Rowling', 'J. K. Rowling', 'J. K. Rowling', 'J. K. Rowling', 'J.R.R. TOLKIEN', 'J. K. Rowling', 'J.R.R. TOLKIEN', 'Harper Lee', 'Dan Brown', 'J.D. Salinger', 'Sue Monk Kidd', 'Mitch Albom', 'Alice Sebold', 'George Orwell', 'Douglas Adams', 'Michael Moore', 'Anita Diamant', 'MITCH ALBOM', 'Barbara Ehrenreich', 'Ray Bradbury', 'Tracy Chevalier', 'Eric Schlosser', 'Jennifer Weiner', 'DIANA GABALDON', 'Billie Letts', 'LAURA HILLENBRAND', 'Barbara Kingsolver', 'Yann Martel', 'Tim Lahaye', 'Alice Walker', 'Frank McCourt', 'JOHN GRISHAM', 'PHILIP PULLMAN', 'Neil Gaiman', 'MICHAEL CRICHTON', 'Janet Evanovich', 'Janet Evanovich', 'John Irving', 'Dan Brown', 'Janet Fitch', 'ANNE RICE', 'James Patterson', 'David Sedaris', 'Janet Evanovich', 'Gregory Maguire', 'Ann Patchett', 'SOPHIE KINSELLA', 'Stephen King', 'Barbara Kingsolver', 'Richard Russo']